@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: #2b3dda;
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb {
  background: #420177;
}



/* navbar starts */
#searchInput {
  padding: 0.5em;
  border: 2px solid teal;
  border-radius: 20px;
  outline: none;
  width: 200px; /* Adjust width as needed */
}


#searchInput::placeholder {
  color: #aaaaaa;
}

#searchInput:focus {
  border: 2px solid #555; /* Highlight effect on focus */
}
#searchCertificationsInput {
  padding: 0.5em;
  border: 2px solid teal;
  border-radius: 20px;
  outline: none;
  width: 200px; /* Adjust width as needed */
}

#searchCertificationsInput::placeholder {
  color: #aaa;
}

#searchCertificationsInput:focus {
  border: 2px solid #555; /* Highlight effect on focus */
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}
section {
  min-height: 100vh;
  padding: 2rem 9%;
}
.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}
.heading span {
  color: rgb(115, 3, 167);
}
header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #0e2431;
}
header .logo i {
  font-size: 2.2rem;
}
header .logo:hover {
  color: #fc8c05;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar li {
  margin-left: 2.5rem;
}
header .navbar ul li a {
  font-size: 1.57rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #011aff;
  border-bottom: 0.2rem solid #011aff;
  padding: 0.5rem 0;
}
/* navbar ends */
.Aliko{
  width: 3vw;
  height: 5vh;
}
/* hamburger icon starts*/
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}
@media (max-width: 768px) {
  #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f31;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #ffffff;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}
@media (max-width: 1480px) {
  #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f31;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #ffffff;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}
/* hamburger icon ends */

/* hero section starts*/
.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  filter: grayscale(10%);
  background-image: url(../Image/hero9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
      
}
.home .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}
.home .image {
  flex: 1 1 40rem;
  z-index: 1;
}
.home .image img {

  width: 70%;
  margin-left: 6rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(21, 80, 231, 0.3);
  cursor: pointer;
}
.home .image img:hover {
  box-shadow: 0 5px 15px rgba(247, 0, 0, 0.5);
}
.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #002057;
}
.home .content h2 span {
  font-size: 5rem;
  font-weight: 800;
  color: #ac9504;
}
.home .content p {
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
  padding: 1rem 0;
}
.home .content p span {
  font-size: 2.5rem;
  color: rgb(171, 161, 12);
  font-weight: 600;
  padding: 1rem 0;
}
.home .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #10024e;
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
.home .btn span {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.home .btn:hover {
  background: #1a047e;
}
.home .btn:hover i {
  transform: translateX(5px);
}
/* social icons start */
.socials {
  position: relative;
  margin-top: 9rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: #00d9ff;
  background-color: #09011b;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}
.social-icons a.github:hover {
  background-color: #bdb8b8;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dev:hover {
  background-color: #070707;
}
.social-icons a.instagram:hover {
  background-color: #ee00da;
}
/* social icons end */

/* hero media queries starts*/
@media (max-width: 450px) {
  .home .btn {
    margin: 4rem 0;
  }
  .socials {
    margin-top: 12rem;
  }
  .home .image img {
    margin-top: -12rem;
  }
  .home .content p {
    font-size: 2.2rem;
  }
  .home .content p span {
    font-size: 2.2rem;
  }
}
/* hero media queries ends*/
/* hero section end */

/* about section starts */
.about {
  background: rgb(255, 255, 255);
}
.about .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
}
.about .row .image {
  text-align: center;
  flex: 1 1 35rem;
}
.about .row .image img {
  margin: 4rem;
  width: 30rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer;
}
.about .row .image img:hover {
  mix-blend-mode: normal;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
}
.about .row .content h3 {
  color: rgb(27, 27, 27);
  font-size: 2.5rem;
}
.about .row .content .tag {
  font-size: 1.4rem;
  color: #020133;
  font-weight: 600;
  margin-top: 1rem;
}
.about .row .content p {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
  text-transform: none;
}
.about .row .content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
}
.about .row .content .box-container .box p {
  text-transform: none;
}
.about .row .content .box-container .box p span {
  color: #011aff;
}
.resumebtn {
  margin-top: 6rem;
}
.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}
.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}
.resumebtn .btn:hover {
  background: #1a047e;
}
.resumebtn .btn:hover i {
  transform: translateX(5px);
}
/* about media queries starts*/
@media screen and (max-width: 600px) {
  .about .row .image {
    margin-top: 2rem;
  }
  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }
  .about .row {
    padding: 0.5rem;
    margin-bottom: 7rem;
  }
  .about .row .content {
    padding: 1rem;
  }
  .about .row .content .box-container {
    gap: 0;
  }
}
/* about media queries ends*/
/* about section ends */

#experience{
  background-image: url(../Image/edu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.experience-container{

  margin: 15%;
}
.slideshow-container {

  max-width: 1000px;
  margin: auto;
}
  
/* Hide the images by default */
.mySlides {
   
    display: none;
    padding: 20px;
    text-align: left;
}

/* Next and previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.slideshow-container{
  background-color: #ffffff;
  border: 2px solid #ceac05;
  min-width: 70%;
  min-width: 70%;
  padding: 2%;
  border-radius: 12px;
  color:rgb(1, 1, 47)
}
.slideshow-container h3{
  color:rgb(224, 188, 7);
  padding-bottom:  1% ;
  font-size:  large;
}
.slideshow-container p{
  color:rgb(10, 39, 157);
  padding-bottom:  1% ;
  font-size:medium;
}
.slideshow-container li{
  color:rgb(1, 33, 37);
  padding-bottom:  1% ;
  font-size:1.3dvh;
}

#erp    {background-image: url(../Image/erp.jpg     );    background-size: contain; } 
#crime  {background-image: url(../Image/crime.jpg   );  background-size: cover; }
#union   {background-image: url(../Image/coop.jpg   );  background-repeat:no-repeat; background-size: cover;  }
#Survey {background-image: url(../Image/survey.jpg  ); background-size: cover; }
#guardium{background-image: url(../Image/guardium.jpg); background-size:contain; background-repeat:no-repeat; background-color: #fbfbfb;  }
#waf    {background-image: url(../Image/waf5.jpg    ); background-size: cover;  background-repeat:no-repeat;  }
#book   {background-image: url(../Image/library.jpg );background-repeat:no-repeat; }
#gotrip {background-image: url(../Image/go.jpg ); background-size:contain; background-repeat:no-repeat; background-color: white; }


.project-container{
  padding-top: 70px;
  background-image: url(../Image/hero9.jpg);
 }
 .project-container h1{
   text-align: center;
   color: #10004f;
   font-size: 2.2dvw;

  }
.project{
  margin: 2%;
  background-color: #094258;
  border: 6px solid goldenrod;
  margin-top: 10px;
  display: flex ;
  justify-content: center;
  flex-wrap: wrap; /* Change from wrap to nowrap to keep items in a single line */
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
  border-radius:  30px;
  padding: 1.1rem;

}

.project-card {  
 height: 40rem;
  background-color: rgb(6, 20, 83); 
  color: #cab901;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 30%;
  min-width: 30rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s;
  border: 2px solid rgb(219, 201, 4);
  border-radius: 5px;

}
.project-card h1{
  background-color: #00000084;
  color:  white;
  font-weight: 600;
  font-size: 2.25rem;
  
}
.project-card:hover {
  transform: translateY(-5px);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(6, 20, 83);
  border-radius: 5px;
  color: rgb(6, 20, 83);
  font-weight: 600;
  font-size: 1.25rem;
}
#project-Image{
  width: 100%;
  }
  #project-details{
    margin: 1%;
    font-size: 1.2vw;
    max-width: 1800px;
    color: rgb(10, 3, 84);
  }
  #project-titles{
    font-size: 2.2vw;
    color:rgb(14, 4, 71);
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }
  .project-card {
    flex: 0 0 auto; /* Prevent cards from shrinking, adjust basis as needed */
    margin: 10px; /* Add some space around cards */
    /* Set width and height as needed, or keep your existing styles */
  }
  .projects-det{
   display: flex;
   flex-direction: row;
   width: fit-content ;
   justify-content: center;
   align-items: center;

  }
  .pro{
    max-width:  100%;
     }
.skills-container {
  max-width: 2000px;
  margin: 20px auto;
  padding: 20px;
  background: rgba(193, 190, 184, 0.141);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(200, 168, 7, 0.844);
  color: rgb(4, 0, 54) ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.skills-container h2 {
  text-align: center;
  color: #d9a808;
  margin-bottom: 20px;
}
.skills-grid {
  display: flex;
  justify-content: space-between;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 2%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.skill-category {
  background-color: rgb(255, 255, 255); 
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.skill-category:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.skill-category h3 {
  margin-top: 0;
}
.skill-category {
  margin-top: 0;
}

/* Add responsiveness */
@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
}

.language-skills-container {
  max-width: 1800px;
  margin: auto;
  background: rgba(193, 190, 184, 0.141);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(200, 168, 7, 0.844);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  color:#fff

}

.language-skills-container h2{
  text-align: center;
  color: #e0b405;  
}
.language-skills-container  .language h3 {
  color: #e0b405; 
}
.language {
  margin-bottom: 20px;
}

.language-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.proficiency {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
  text-align: center;
}

.proficiency span {
  display: block;
  background-color: #e0b405; 
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  color:  #020118;
}

@media screen and (max-width: 600px) {
  .proficiency {
    grid-template-columns: 1fr;
  }
}
.education{
  background-image: url(../Image/edu.jpg);
}
.education-container {

  max-width: 1800px;
  margin-top: 100px;
  background: rgba(209, 148, 4, 0.075);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(200, 168, 7, 0.844);
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.education-container h2 {
  padding-bottom: 10px;
  text-align: center;
  color: #dfb11b;
}

.timeline {
  
  position: relative;
  padding-left: 50px;
  list-style: none;
}

.timeline-item {
  margin-bottom: 20px;
}

.timeline-icon {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.timeline-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #00d9ff;
  padding-left: 20px;
  background-color: rgb(255, 255, 255);
  color: #09046b;
  padding: 10px;
  border-radius: 8px;
}
.timeline-content h3{
font-size: 2dvh;
}
.timeline-content p{
font-size: 1.2dvh;
}
.edu-img{
  width: 100%;
  height: 20rem;
}
@media screen and (max-width: 600px) {
  .timeline-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding-left: 20px;
    background-color: rgb(255, 255, 255);
    color: #09046b;
    padding: 10px;
    border-radius: 8px;
  }
  
  .timeline {
    padding-left: 30px;
  }

  .timeline-icon {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }

  .timeline-content {
    padding-left: 15px;
  }
}
.Certification{
  text-align: center;
  padding-top: 100px;
  color: #fff;
  background: rgb(255, 255, 255);
 }
 
.project1{
  margin: 2%;
  background-color: #094258;
  display: flex;
  flex-wrap: nowrap; /* Change from wrap to nowrap to keep items in a single line */
  flex-direction: row;
  border: 6px solid goldenrod;
  margin-top: 10px;
  justify-content: flex-start; /* Adjust justify-content to start */
  height: 30rem;
  overflow-x: auto; /* Enable horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
  border-radius: 30px; /* Remove extra space */
  padding: 1.1rem;

}

.project-card1{  
 height: 23rem;
  background-color: rgb(6, 20, 83); 
  color: #cab90107;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 30%;
  min-width: 30rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s;
  border: 2px solid rgb(219, 201, 4);
  border-radius: 5px;

}

 #web{
  background-image: url(../Image/cer1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
 }
 #cloud{
  background-image: url(../Image/cer2.jpg);
  background-size: contain  ;
  background-repeat: no-repeat;
 }
 #africa{
  background-image: url(../Image/cer3.jpg);
  background-size: contain  ;
  background-repeat: no-repeat;
 }
 #oracle{ background-image: url(../Image/1certfi.jpg); background-size:contain; background-repeat: no-repeat;}
 #pl{ background-image: url(../Image/2certfi.jpg); background-size: contain  ;  background-repeat: no-repeat;}
 #sql{ background-image: url(../Image/3certfi.jpg); background-size: contain  ; background-repeat: no-repeat;}
 #java{ background-image: url(../Image/4certfi.jpg); background-size: contain ; background-repeat: no-repeat;}

 .cert{
  margin: 2rem;

display: flex;
flex-direction: column;
}
.cer-con{
margin: 2rem;
}

.btn0{
margin-bottom: 10rem;
background-color: rgb(8, 2, 66);
color: #fff;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid #ffffff;
  font-size: x-large;
  font-weight: 600;
}
.btn0:hover{

  background-color: rgb(255, 255, 255);
  color: #020442;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid #07024a;
  font-size: x-large;
  font-weight: 600;

}
#Exercise{
 background-image: url(../Image/edu.jpg);
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  overflow: auto;
  overflow-y: scroll;
}
.EXE_BTN{
  display: block;
  align-self: self-end;
  width: max-content;
  height: fit-content;
  margin: 1%;
  text-align: center;
  align-self: center;
  cursor: pointer;
  margin-top: 1% ;
  color: wheat;
  box-shadow: 0 0 10px rgba(197, 163, 163, 0.5), 0 -10px 20px rgba(0,0,0,.5), 0 0 20px rgba(0,0,0,.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 10%;
  border-radius: 10px;
  background-image: url(../Image/hero9.jpg);
  background-position: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.card-con {
  background-image: url(../Image/hero9.jpg);
  padding: 10rem;
  height: fit-content;
  display: flex;
flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card-con {
    padding: 5rem; /* Reduced padding for smaller screens */
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: stretch; /* Stretch items to fill the width of the container */
    overflow-y: auto; /* Allows vertical scrolling if needed */
  }
}

@media (max-width: 480px) {
  .card-con {
    padding: 2rem; /* Further reduce padding for very small screens */
  }
}

.card{

  padding: 10rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  background-color: #ffffff;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: rgb(3, 2, 82);
  border-radius: 20px;
  margin: 1rem;
  font-size: clamp(1rem, 2vw, 2rem);
  border:  2px solid rgb(197, 149, 6);
  max-height: 30rem; 
  box-shadow: tomato;
}

.EXE_BTN:hover{
transition:  all .4s ease-out;
transform: scale(.97);
box-shadow:  0  0 10px rgba(2, 22, 72, 0.831),inset 0 -10px 20px rgb(185, 198, 3);
}


.criclar1 {
  margin-left: 40%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.contact1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size:  1.5rem;
  height: fit-content;
  max-height: 10px;
background-image: url(../Image/edu.jpg);
background-size: cover,;
}

.contact-card {
  padding-bottom: 10px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255); 
  width: 30rem;
  min-height: 20rem;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.contact-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.contact1 h1 {
  font-size: 4vh;
  margin-top: 0;
  color: wheat;
}
.contact-card h3 {
  font-size: 2vh;
  margin-top: 0;


}
.contact-card  p {
  font-size: 2vh;
  margin-top: 0;
}

.contact-icon{
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.contact-container {
  display: flex;
  justify-content: center;

  max-width: 2000px;
  margin: 20px auto;
  padding: 20px;
  background: rgba(193, 190, 184, 0.141);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(200, 168, 7, 0.844);
  color: rgb(4, 0, 54) ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-container h2 {
  text-align: center;
  color: #d9a808;
  margin-bottom: 20px;
}
.contact-grid {
  flex-wrap: wrap;
  display: flex;
  justify-content:space-around;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 4px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media (max-width: 768px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}

/* footer*/
.footer {
  min-height: auto;
  padding-top: 0;
  background: rgb(0, 1, 43);
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}
.footer .box-container .box p i {
  padding-right: 1rem;
  color: #ffae00;
}
.footer .box-container .box a {
  font-size: 1.5rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: #ffae00;
}
.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}
.footer .box-container .box .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #ffae00;
}
.footer .credit {
  padding: 1rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;
  border-top: 0.1rem solid #fff3;
}
.footer .credit a {
  color: #ffae00;
}
.footer .fa {
  color: #e90606;
  margin: 0 0.3rem;
  font-size: 1.5rem;
  animation: pound 0.35s infinite alternate;
}


/* new footer*/
.fot{
  border: 4px solid rgb(1, 1, 76);
  
}
.fot .footer {
  min-height: auto;
  padding-top: 0;
  background: #ffffff; /* Changed from rgb(0, 1, 43) to white */
}

.fot .footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fot .footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2.5rem;
  padding-left: 1rem;
  border-left: 2px solid rgb(170, 122, 2);

}

.fot .footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #00008B; /* Changed from #fff to dark blue */
  padding-bottom: 1rem;
  font-weight: normal;
}

.fot .footer .box-container .box p {
  font-size: 1.5rem;
  color: #00008B; /* Changed from #ccc to dark blue */
  padding: 0.7rem 0;
  text-transform: none;
}

.fot .footer .box-container .box p i {
  padding-right: 1rem;
  color: #ffae00; /* No change */
}

.fot .footer .box-container .box a {
  font-size: 1.5rem;
  color: #00008B; /* Changed from rgb(238, 238, 238) to dark blue */
  padding: 0.3rem 0;
  display: block;
}

.fot  .footer .box-container .box a:hover {
  color: #ffae00; /* No change */
}

.fot  .footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.fot .footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: #00008B; /* Changed from rgb(230, 230, 230) to dark blue */
  color: #ffffff; /* Changed from #02094b to white */
  border: none;
}

.fot .footer .box-container .box .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178); /* Border color might need adjustment */
  color: #ffae00;
}

.fot .footer .credit {
  padding: 1rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #00008B; /* Changed from #fff to dark blue */
  border-top: 0.2rem solid rgba(11, 1, 68); /* Border color might need adjustment */

}

.fot .footer .credit a {
  color: #ffae00; /* No change */
}

.fot .footer .fa {
  color: #e90606; /* No change */
  margin: 0 0.3rem;
  font-size: 1.5rem;
  animation: pound 0.35s infinite alternate;
}

/* new footer*/
@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {

  to {
    transform: scale(1.1);
  }
  
}
.contact span, .socials a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #d9d9d9;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #03094f;
  color: rgb(241, 221, 0);
  border: none;
  cursor: pointer;
}

#scrollToTopBtn:hover {
  background-color: #e8e809;
  color: #03094f;
}
@media (max-width: 764px) {

  .nav-links.showing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Full width */
    position: fixed; /* Make it over every one */
    top: 10px; /* Make it over every one */
    left: 0%; /* Make it over every one */
    z-index: 999; /* Make sure it's on top of other content */
    background-color: #022e26;
    border-radius: 10px 0px 10px 10px;
    font-weight: 300;
    padding: 10px;
    
}


  .Home{
background-image: url(../Image/hero9.jpg);
  }
  .Home1{
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }
  .Home1 h1{
 font-size :30px;
  }
  .Home1 h3{
    font-size :20px;
     }
     .Home1 p{
      font-size :10px;
       }
  .criclar-hero{
      width: 70%;
      height: fit-content;
      border-radius: 50%;
  }
  .criclar{
    padding: 0%;
    margin: 0%;
  }
  .aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
  }
    #about p{
    width: fit-content;
    padding: 0%;
    margin: 0%;
    text-align: auto;
  }
  .cer{

    margin-left:0px ;
    width:  auto;
    height: auto;
  }
  .cer {
     width: 100%;
     height: 100%;
     max-width: min-content;
  }
  
  .cer-con{
  padding-left: 0rem; 
  padding: 0rem;  
  }
}

/* Add red outline to all elements 
* {
  outline: 2px solid red;
}*/
/* Style the scroll bar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(2, 2, 69);
  border-radius: 10px;
  height: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(2, 2, 69);
  height: 2px;
}
.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  z-index: 1000;
  Width:70dvw;
}
.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
}
.GFG {
  color: rgb(222, 7, 7);
  font-size: 50px;
  text-shadow: -1px 1px 0 #030240,
      2px 3px 0 #030240,
      1px -1px 0 #030240,
      -1px -1px 0 #030240,
}